[submodule "crosstool-ng"]
	path = crosstool-ng
	url = https://github.com/crosstool-ng/crosstool-ng.git
[submodule "Mastering-Embedded-Linux-Programming-Third-Edition"]
	path = Mastering-Embedded-Linux-Programming-Third-Edition
	url = https://github.com/PacktPublishing/Mastering-Embedded-Linux-Programming-Third-Edition.git
[submodule "u-boot"]
	path = u-boot
	url = git://git.denx.de/u-boot.git
[submodule "rpi/linux"]
	path = rpi/linux
	url = https://github.com/raspberrypi/linux.git
[submodule "rpi/firmware"]
	path = rpi/firmware
	url = https://github.com/raspberrypi/firmware.git
