[submodule "crosstool-ng"]
	path = crosstool-ng
	url = https://github.com/crosstool-ng/crosstool-ng.git
[submodule "Mastering-Embedded-Linux-Programming-Third-Edition"]
	path = Mastering-Embedded-Linux-Programming-Third-Edition
	url = https://github.com/PacktPublishing/Mastering-Embedded-Linux-Programming-Third-Edition.git
[submodule "u-boot"]
	path = u-boot
	url = git://git.denx.de/u-boot.git
[submodule "linux"]
	path = linux
	url = https://github.com/raspberrypi/linux
[submodule "firmware"]
	path = firmware
	url = https://github.com/raspberrypi/firmware.git
[submodule "busybox"]
	path = busybox
	url = git://git.busybox.net/busybox
[submodule "buildroot"]
	path = buildroot
	url = https://github.com/buildroot/buildroot.git
[submodule "poky"]
	path = poky
	url = https://github.com/yoctoproject/poky.git
